*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height: 100vh;
}
main{
    height: 100%;
    width: 100%;
    max-width: 1440px;
}

/* header */
header{
    display: flex;
    justify-content: center;
    background-color: #9a031e;
}
#heading{
    color: white;
    font-size: 50px;

}
#heading-logo{
    color: black;
    font-size: 40px;
}

/* buttons */
.buttons{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid green; */
    margin: 10px;

}
section{
    display: block;
    padding: 0 10px;
}
@media screen and (max-width:599px) {
        .buttons{
            display: grid;
            grid-template-columns:repeat(1,1fr);
            row-gap: 5px;
        }
        section{
            display: grid;
            /* padding: 0 10px; */
            grid-template-columns:repeat(1,1fr);
            row-gap: 5px;
        }
      
    }

@media screen and (min-width:600px) and (max-width:768px) {
    .buttons{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        row-gap: 5px;
        /* column-gap: 5px; */
    }
    section{
        display: grid;
        /* padding: 0 10px; */
        grid-template-columns:repeat(2,1fr);
        row-gap: 5px;
    }
}
@media screen and (min-width:769px)  {
    section{
        display: grid;
        /* padding: 0 10px; */
        grid-template-columns:repeat(4,1fr);
        row-gap: 5px;
        column-gap: 7px;
    }
}

.btn{
    padding: 5px 15px; 
    border-radius: 3px;
    border: none;
    color: #9a031e;
}
.btn:hover{
    color: white;
    background: #9a031e;
}

/* articles */

/* 
article{

    border: 2px solid red;

} */

/* @media screen and (max-width: 400px) {
    article{
       
        width: 50%;
    }
} */